<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.mapper.SysLogMapper">
  <resultMap id="BaseResultMap" type="com.st.domain.SysLog">
    <!--@mbg.generated-->
    <!--@Table sys_log-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="BOOLEAN" property="type" />
    <result column="module_code" jdbcType="VARCHAR" property="moduleCode" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="ip_city" jdbcType="VARCHAR" property="ipCity" />
    <result column="host_name" jdbcType="VARCHAR" property="hostName" />
    <result column="browser_name" jdbcType="VARCHAR" property="browserName" />
    <result column="operate_user_id" jdbcType="VARCHAR" property="operateUserId" />
    <result column="operate_user_name" jdbcType="VARCHAR" property="operateUserName" />
    <result column="operate_time" jdbcType="BIGINT" property="operateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `type`, module_code, module_name, content, ip_address, ip_city, host_name, browser_name, 
    operate_user_id, operate_user_name, operate_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from sys_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.st.domain.SysLog">
    <!--@mbg.generated-->
    insert into sys_log (id, `type`, module_code, 
      module_name, content, ip_address, 
      ip_city, host_name, browser_name, 
      operate_user_id, operate_user_name, operate_time
      )
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=BOOLEAN}, #{moduleCode,jdbcType=VARCHAR}, 
      #{moduleName,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{ipAddress,jdbcType=VARCHAR}, 
      #{ipCity,jdbcType=VARCHAR}, #{hostName,jdbcType=VARCHAR}, #{browserName,jdbcType=VARCHAR}, 
      #{operateUserId,jdbcType=VARCHAR}, #{operateUserName,jdbcType=VARCHAR}, #{operateTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.st.domain.SysLog">
    <!--@mbg.generated-->
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="moduleCode != null">
        module_code,
      </if>
      <if test="moduleName != null">
        module_name,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="ipAddress != null">
        ip_address,
      </if>
      <if test="ipCity != null">
        ip_city,
      </if>
      <if test="hostName != null">
        host_name,
      </if>
      <if test="browserName != null">
        browser_name,
      </if>
      <if test="operateUserId != null">
        operate_user_id,
      </if>
      <if test="operateUserName != null">
        operate_user_name,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=BOOLEAN},
      </if>
      <if test="moduleCode != null">
        #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="ipCity != null">
        #{ipCity,jdbcType=VARCHAR},
      </if>
      <if test="hostName != null">
        #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="browserName != null">
        #{browserName,jdbcType=VARCHAR},
      </if>
      <if test="operateUserId != null">
        #{operateUserId,jdbcType=VARCHAR},
      </if>
      <if test="operateUserName != null">
        #{operateUserName,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.st.domain.SysLog">
    <!--@mbg.generated-->
    update sys_log
    <set>
      <if test="type != null">
        `type` = #{type,jdbcType=BOOLEAN},
      </if>
      <if test="moduleCode != null">
        module_code = #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        ip_address = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="ipCity != null">
        ip_city = #{ipCity,jdbcType=VARCHAR},
      </if>
      <if test="hostName != null">
        host_name = #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="browserName != null">
        browser_name = #{browserName,jdbcType=VARCHAR},
      </if>
      <if test="operateUserId != null">
        operate_user_id = #{operateUserId,jdbcType=VARCHAR},
      </if>
      <if test="operateUserName != null">
        operate_user_name = #{operateUserName,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.st.domain.SysLog">
    <!--@mbg.generated-->
    update sys_log
    set `type` = #{type,jdbcType=BOOLEAN},
      module_code = #{moduleCode,jdbcType=VARCHAR},
      module_name = #{moduleName,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      ip_address = #{ipAddress,jdbcType=VARCHAR},
      ip_city = #{ipCity,jdbcType=VARCHAR},
      host_name = #{hostName,jdbcType=VARCHAR},
      browser_name = #{browserName,jdbcType=VARCHAR},
      operate_user_id = #{operateUserId,jdbcType=VARCHAR},
      operate_user_name = #{operateUserName,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>